#statisticsHeadline{
    color: black;
}

#statisticsList{
    list-style-type: none;
    color: black;
}

#statisticTemplate {
    display: flex;
}
.chartcanvasses {
    width: 500px;
    height: 200px;
}

.chartdivs{
    background-color: white;
}




