body{
    background-color: grey;
}

#statisticsHeadline{
    color: white;
}

#statisticsList{
    list-style-type: none;
    color: white;
}

.chartcanvasses{
    width: 50%;
    height: 50%;
}

.chartdivs{
    background-color: white;
    width: 50%;
    height: 50%;
}




