.product {
    margin: 3%;
    flex-grow: 1;
    max-width: 300px;
}

.productProgressBar {
    margin: 5px;
}

#productSection {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    font-family: "Comic Sans MS";
}

#plasticWorkshop{
    line-break: auto;
}

#moneyWorkshop{
    line-break: auto;
}

#GameData{
    font-size: 30pt;
    text-align: center;
}