a.nav-link {
    color: red;
}

a.nav-link:hover {
    color: mediumvioletred;
}
body{
    background: url(img/background.jpg) no-repeat center center fixed;
    background-size: cover;
    backdrop-filter: blur(7px);
    height: 100%;
    overflow: visible;
}

.hidden {
    display: none !important;
}

#content {
    display: flex;
}

#statisticsList{
    list-style-type: none;
}

/*
/* width */
::-webkit-scrollbar {
    width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
    float: left;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #000088;
    heigt: 5px;
    border-radius: 10px;
    float: left;
}

webkit-scrollbar-button {
    border-radius: 20px;
    background-color: white;
    font-family: "Comic Sans MS";
    font-color: #000088;
    width: 5px;
    height: 5px;
    margin-botton: 1em;
    margin-top: 1em;
    float: left;
}

