
h1{
    color: red;
}


.collectorbutton {
    border-radius: 200px;
    background-color: white;
    font-family: "Comic Sans MS";
    font-color: #000088;
    width: 300px;
    height: 100px;
    margin-botton: 5em;
    margin-top: 1em;
    display: block;
    padding: 5px;
    border: 1px solid blue;

}

.collectorbutton > img {
    width: 130px;
    height: 80px;
    float: right;
    border-radius: 200px;
}


aside {
    display: block;
    height: 400px;
    height: 400px;
    width: 350px;
    overflow-y: auto;
    margin-left: 15px;
}
#plasticBall{
    display: block;
    width: 55%;
    height: 80%;
    float: right;
    margin-left: 10px;
}
/*questionmark */
.qmLockedCollectorButton {
    background-color: #585858;
    font-color: blue;

}
/*initial questionmark */
.collectorbutton {
    background-color: #585858;
    font-color: blue;

}
/*enabled*/
.unlockedCollectorButton {
    background-color: white;
    font-color: blue;

}

/*disabled*/
.lockedCollectorButton {
    background-color: #585858;
    font-color: blue;
}
.collectorName {
    font-color: blue;
    font-size: 15px;
}

.collectorCounts {
    font-color: blue;
    font-size: 15px;
}

.collectorRequiredMoney {
    font-color: blue;
    font-size: 8px;
}