h1 {
    color: red;
    margin-bottom: 50px;
}

#clickerTemplate{
    display: block;
    font-family: "Comic Sans MS";
}

.collectorbutton {
    border-radius: 200px;
    background-color: white;
    font-family: "Comic Sans MS";
    font-color: #000088;
    width: 300px;
    height: 100px;
    margin-botton: 5em;
    margin-top: 1em;
    display: block;
    padding: 5px;
    border: 1px solid blue;

}

.collectorbutton > img {
    width: 130px;
    height: 80px;
    float: right;
    border-radius: 200px;
}


aside {
    height: 400px;
    height: 600px;
    width: 400px;
    overflow-y: auto;

}

.animationPerClick {
    position: absolute;
    color: deeppink;
    animation: textwelle 2s;
}

@keyframes textwelle {
0{
    font-size: 0;
    opacity: 0;
    background-position: 91% center;
}
50%{
    background-position: 93% center;
}
90%{
    font-size: 220%;
    opacity: 1;
}100%{
    font-size: 200%;
    opacity: 1;
}
}

.button:active {
    transform: translateY(8px);
}

.qmLockedCollectorButton {
    background-color: #585858;
    font-color: blue;

}

/*initial questionmark */
.collectorbutton {
    background-color: #585858;
    font-color: blue;

}

/*enabled*/
.unlockedCollectorButton {
    background-color: white;
    font-color: blue;

}

/*disabled*/
.lockedCollectorButton {
    background-color: #585858;
    font-color: blue;
}

.collectorName {
    font-color: blue;
    font-size: 15px;
}

.collectorCounts {
    font-color: blue;
    font-size: 15px;
}

.collectorRequiredMoney {
    font-color: blue;
    font-size: 12px;
}

#imageCont {
    margin-top: 15vh;
    padding-left: 10vw;
}

#displayGameData{
    margin-top:20vh;
    padding-left: 5vw;
}
#h2{
    padding-bottom: 5vh;
}


